@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(0, 0%, 95%);
}

.title {
    font-family: "Big Shoulders Display", sans-serif;
    color: hsl(0, 0%, 95%);
    font-size: 2em;

    margin-bottom: .8em;
    margin-left: .4em;
}
.text {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
    width: 70vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.014);
    margin-bottom: 3em;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.sedans .button {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs .button {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.luxury .button {
    color: hsl(179, 100%, 13%);
}
main {
    margin: 20% auto;
}

section {
    padding: 5em 2em 5em;
    width: 80vw;
    margin: auto;
}

img {
    margin-bottom: 1.6em;
}

img, h1, p, a {
    margin-left: 1em;
}

.button {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 1em 1.5em;

    border-radius: 50px;
}

@media screen and (min-width:1024px) {
    main {
        display: flex;
        margin: 10vh auto;
        align-items: center;
        justify-content: center;
    }

    section {
        width: 20vw;
        margin: 0;
    }

    .text {
        width: 15vw;
    }

    .sedans {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }

    .luxury {
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
    }
}